# Pandas
## Series

In [1]:
import pandas as pd
import numpy as np

In [7]:
Numeros = range(50,70,2)

print(list(Numeros))

Numeros_serie = pd.Series(Numeros)

print(Numeros_serie)

print(Numeros_serie[2])

print(Numeros_serie.index)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68]
0    50
1    52
2    54
3    56
4    58
5    60
6    62
7    64
8    66
9    68
dtype: int64
54
RangeIndex(start=0, stop=10, step=1)

In [8]:
Numeros_en_texto = ['primero','segundo','tercero','cuarto','quinto','sexto','séptimo','octavo','noveno','décimo']

In [2]:
# Leer el archivo CSV
df = pd.read_csv('winequality-red.csv', sep=',')

# Mostrar las primeras filas del DataFrame con las columnas específicas
print(df[['density', 'pH', 'sulphates', 'alcohol', 'quality']].head())

   density    pH  sulphates  alcohol  quality
0   0.9978  3.51       0.56      9.4        5
1   0.9968  3.20       0.68      9.8        5
2   0.9970  3.26       0.65      9.8        5
3   0.9980  3.16       0.58      9.8        6
4   0.9978  3.51       0.56      9.4        5

In [3]:
# Leer el archivo TXT desde la misma carpeta o ruta específica
df = pd.read_csv('pokemon_data.txt', delimiter='\t')

# Mostrar las primeras filas del DataFrame con las columnas específicas
print(df[['Name', 'Type 1', 'HP', 'Attack', 'Defense']].head())

                    Name Type 1  HP  Attack  Defense
0              Bulbasaur  Grass  45      49       49
1                Ivysaur  Grass  60      62       63
2               Venusaur  Grass  80      82       83
3  VenusaurMega Venusaur  Grass  80     100      123
4             Charmander   Fire  39      52       43

In [8]:
# Leer el archivo Excel desde la misma carpeta o ruta específica

# !pip install pandas openpyxl

df = pd.read_excel('_defaultoutput.xlsx')

# Mostrar las primeras filas del DataFrame con las columnas específicas
print(df[['index', 'ID', 'Year_Birth', 'Education', 'Income']].head())

   index    ID  Year_Birth   Education   Income
0      0  5524        1957  Graduation  58138.0
1      1  2174        1954  Graduation  46344.0
2      2  4141        1965  Graduation  71613.0
3      3  6182        1984  Graduation  26646.0
4      4  5324        1981         PhD  58293.0

In [9]:
# URL del archivo CSV
url = 'https://raw.githubusercontent.com/JJTorresDS/stocks-ds-edu/main/stocks.csv'

# Leer el archivo CSV desde la URL
df = pd.read_csv(url, index_col=0)

# Mostrar las primeras 5 filas de las columnas especificadas, redondeadas a 1 decimal
print(df[['AMZN', 'MCD', 'SBUX', 'GOOG', 'MSFT']].head(5).round(1))

                 AMZN    MCD  SBUX   GOOG  MSFT
formatted_date
2016-01-01      587.0  106.3  54.4  743.0  49.9
2016-02-01      552.5  100.7  52.1  697.8  46.0
2016-03-01      593.6  108.8  53.6  745.0  50.3
2016-04-01      659.6  109.5  50.5  693.0  45.5
2016-05-01      722.8  105.6  49.3  735.7  48.3

In [14]:
import requests


# URL del archivo CSV
url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cars_clus.csv'

# Descargar el archivo CSV usando requests
response = requests.get(url)

# Verificar que la solicitud fue exitosa
if response.status_code == 200:
    # Guardar el contenido en un archivo local
    with open('cars_clus.csv', 'wb') as file:
        file.write(response.content)
    
    # Leer el archivo CSV usando pandas
    pdf = pd.read_csv('cars_clus.csv')

    # Imprimir la forma del DataFrame y las primeras 5 filas
    print("Shape: ", pdf.shape)
    print(pdf.head(5))
else:
    print("Error al descargar el archivo. Código de estado:", response.status_code)

Shape:  (159, 16)
  manufact    model   sales  resale   type   price engine_s horsepow wheelbas  \
0    Acura  Integra  16.919  16.360  0.000  21.500    1.800  140.000  101.200
1    Acura       TL  39.384  19.875  0.000  28.400    3.200  225.000  108.100
2    Acura       CL  14.114  18.225  0.000  $null$    3.200  225.000  106.900
3    Acura       RL   8.588  29.725  0.000  42.000    3.500  210.000  114.600
4     Audi       A4  20.397  22.255  0.000  23.990    1.800  150.000  102.600

    width   length curb_wgt fuel_cap     mpg lnsales  partition
0  67.300  172.400    2.639   13.200  28.000   2.828        0.0
1  70.300  192.900    3.517   17.200  25.000   3.673        0.0
2  70.600  192.000    3.470   17.200  26.000   2.647        0.0
3  71.400  196.600    3.850   18.000  22.000   2.150        0.0
4  68.200  178.000    2.998   16.400  27.000   3.015        0.0

In [18]:
modelos = ['A1' , 'A2' , 'A3' , 'A4' , 'A5' ]
peso = [3500, 3600, 3800, 3900, 3200]
precios = [10000, 11000, 15000, 12000, 8000]

peso_series = pd.Series(peso, index=modelos)
precios_series = pd.Series(precios, index=modelos) 

print(peso_series)
print("\n")
print(precios_series)

A1    3500
A2    3600
A3    3800
A4    3900
A5    3200
dtype: int64


A1    10000
A2    11000
A3    15000
A4    12000
A5     8000
dtype: int64

In [42]:
# Construir el dataframe combinando las Series

autos = pd.DataFrame({'Peso': peso_series, 'Precios': precios_series})

autos['Precio_PorKg'] = (autos['Precios'] / autos['Peso']).round(2)

print(autos)

# print(autos['Precio_PorKg'].round(2))

# autos['Precio_PorKg'] = autos['Precio_PorKg'].round(2)

    Peso  Precios  Precio_PorKg
A1  3500    10000          2.86
A2  3600    11000          3.06
A3  3800    15000          3.95
A4  3900    12000          3.08
A5  3200     8000          2.50

In [43]:
np.set_printoptions(precision=15, suppress=True)
print(autos.values[0])

[ 3500.   10000.       2.86]

In [47]:
# Quiero quedarme con los autos con precio > 100000
autos_caros = autos.loc[autos['Peso'] > 3700,['Precios','Precio_PorKg']]
print(autos_caros)

    Precios  Precio_PorKg
A3    15000          3.95
A4    12000          3.08

In [ ]:

autos = pd.DataFrame({'Peso': peso_series, 'Precios': precios_series})

print(autos.head(2))
print("\n")

autos

In [48]:
# Crear una Serie con valores numéricos
Numeros_3 = range(51, 70, 2)  # Crea una lista de números: [51, 53, 55, 57, 59, 61, 63, 65, 67, 69]
Numeros_en_texto = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo']
Numeros_serie_3 = pd.Series(Numeros_3, index=Numeros_en_texto)

# Mostrar la Serie
print("Serie Original:")
print(Numeros_serie_3)

# Aplicar una función vectorizada, por ejemplo, elevar cada número al cuadrado
Numeros_cuadrado = Numeros_serie_3 ** 2

# Mostrar la Serie con los números al cuadrado
print("\nSerie con Números al Cuadrado:")
print(Numeros_cuadrado)

Serie Original:
primero    51
segundo    53
tercero    55
cuarto     57
quinto     59
sexto      61
séptimo    63
octavo     65
noveno     67
décimo     69
dtype: int64

Serie con Números al Cuadrado:
primero    2601
segundo    2809
tercero    3025
cuarto     3249
quinto     3481
sexto      3721
séptimo    3969
octavo     4225
noveno     4489
décimo     4761
dtype: int64

In [49]:

# Definir las listas de datos
peso = [3583, 3627, 3561, 3880, 3814]
largo = [179, 179, 192, 192, 180]
modelos = ['A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr', 'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr']

# Crear el DataFrame
Autos_2 = pd.DataFrame({'Peso': peso, 'Largo': largo}, index=modelos)

# Mostrar el DataFrame original
print("DataFrame Original:")
print(Autos_2)

# Calcular el porcentaje con respecto a los valores de la primera fila
Porcentaje_Autos = Autos_2 / Autos_2.iloc[0] * 100

# Mostrar el DataFrame con los porcentajes
print("\nPorcentaje con Respecto a la Primera Fila:")
print(Porcentaje_Autos)

DataFrame Original:
                           Peso  Largo
A4 3.0 Quattro 4dr manual  3583    179
A4 3.0 Quattro 4dr auto    3627    179
A6 3.0 4dr                 3561    192
A6 3.0 Quattro 4dr         3880    192
A4 3.0 convertible 2dr     3814    180

Porcentaje con Respecto a la Primera Fila:
                                 Peso       Largo
A4 3.0 Quattro 4dr manual  100.000000  100.000000
A4 3.0 Quattro 4dr auto    101.228021  100.000000
A6 3.0 4dr                  99.385989  107.262570
A6 3.0 Quattro 4dr         108.289143  107.262570
A4 3.0 convertible 2dr     106.447111  100.558659

In [50]:

# Definir dos Series con índices diferentes
Numeros_en_texto_2 = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo']
Numeros_serie_2 = pd.Series([50, 52, 54, 56, 58, 60, 62, 64, 66, 68], index=Numeros_en_texto_2)

Numeros_en_texto_3 = ['segundo', 'cuarto', 'quinto', 'sexto', 'octavo', 'décimo', 'undécimo']
Numeros_serie_3 = pd.Series([100, 200, 300, 400, 500, 600, 700], index=Numeros_en_texto_3)

# Mostrar las Series originales
print("Numeros_serie_2:")
print(Numeros_serie_2)

print("\nNumeros_serie_3:")
print(Numeros_serie_3)

# Sumar las Series
Suma_Series = Numeros_serie_2 + Numeros_serie_3

# Mostrar el resultado de la suma
print("\nResultado de la Suma de las Series:")
print(Suma_Series)

Numeros_serie_2:
primero    50
segundo    52
tercero    54
cuarto     56
quinto     58
sexto      60
séptimo    62
octavo     64
noveno     66
décimo     68
dtype: int64

Numeros_serie_3:
segundo     100
cuarto      200
quinto      300
sexto       400
octavo      500
décimo      600
undécimo    700
dtype: int64

Resultado de la Suma de las Series:
cuarto      256.0
décimo      668.0
noveno        NaN
octavo      564.0
primero       NaN
quinto      358.0
segundo     152.0
sexto       460.0
séptimo       NaN
tercero       NaN
undécimo      NaN
dtype: float64

In [51]:
# Definir dos Series con índices diferentes
Numeros_en_texto_2 = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo']
Numeros_serie_2 = pd.Series([50, 52, 54, 56, 58, 60, 62, 64, 66, 68], index=Numeros_en_texto_2)

Numeros_en_texto_3 = ['segundo', 'cuarto', 'quinto', 'sexto', 'octavo', 'décimo', 'undécimo']
Numeros_serie_3 = pd.Series([100, 200, 300, 400, 500, 600, 700], index=Numeros_en_texto_3)

# Sumar las Series usando el método .add()
Suma_Series_Add = Numeros_serie_2.add(Numeros_serie_3)

# Mostrar el resultado de la suma
print("Resultado de la Suma con .add():")
print(Suma_Series_Add)

Resultado de la Suma con .add():
cuarto      256.0
décimo      668.0
noveno        NaN
octavo      564.0
primero       NaN
quinto      358.0
segundo     152.0
sexto       460.0
séptimo       NaN
tercero       NaN
undécimo      NaN
dtype: float64

In [52]:
# Sumar las Series usando el método .add() con fill_value
Suma_Series_Add_Fill = Numeros_serie_2.add(Numeros_serie_3, fill_value=0)

# Mostrar el resultado de la suma con fill_value
print("\nResultado de la Suma con .add() y fill_value:")
print(Suma_Series_Add_Fill)

Resultado de la Suma con .add() y fill_value:
cuarto      256.0
décimo      668.0
noveno       66.0
octavo      564.0
primero      50.0
quinto      358.0
segundo     152.0
sexto       460.0
séptimo      62.0
tercero      54.0
undécimo    700.0
dtype: float64

In [53]:
# Definir las Series con índices
Numeros_en_texto_2 = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo']
Numeros_serie_2 = pd.Series([50, 52, 54, 56, 58, 60, 62, 64, 66, 68], index=Numeros_en_texto_2)

Numeros_en_texto_3 = ['segundo', 'cuarto', 'quinto', 'sexto', 'octavo', 'décimo', 'undécimo']
Numeros_serie_3 = pd.Series([100, 200, 300, 400, 500, 600, 700], index=Numeros_en_texto_3)

# Crear porciones de las Series
Numeros_serie_2_porcion = Numeros_serie_2[4:7]
Numeros_serie_3_porcion = Numeros_serie_3[5:8]

# Mostrar las porciones
print("Numeros_serie_2_porcion:")
print(Numeros_serie_2_porcion)

print("\nNumeros_serie_3_porcion:")
print(Numeros_serie_3_porcion)

# Sumar las porciones
Suma_Porciones = Numeros_serie_2_porcion + Numeros_serie_3_porcion
print("\nSuma de las porciones:")
print(Suma_Porciones)

Numeros_serie_2_porcion:
quinto     58
sexto      60
séptimo    62
dtype: int64

Numeros_serie_3_porcion:
décimo      600
undécimo    700
dtype: int64

Suma de las porciones:
décimo     NaN
quinto     NaN
sexto      NaN
séptimo    NaN
undécimo   NaN
dtype: float64

In [54]:
# Definir las Series con índices
Numeros_en_texto_2 = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo']
Numeros_serie_2 = pd.Series([50, 52, 54, 56, 58, 60, 62, 64, 66, 68], index=Numeros_en_texto_2)

Numeros_en_texto_3 = ['segundo', 'cuarto', 'quinto', 'sexto', 'octavo', 'décimo', 'undécimo']
Numeros_serie_3 = pd.Series([100, 200, 300, 400, 500, 600, 700], index=Numeros_en_texto_3)

# Crear porciones de las Series
Numeros_serie_2_porcion = Numeros_serie_2[4:7]
Numeros_serie_3_porcion = Numeros_serie_3[5:8]

# Sumar las porciones con fill_value=0
Suma_Porciones = Numeros_serie_2_porcion.add(Numeros_serie_3_porcion, fill_value=0)
print(Suma_Porciones)

décimo      600.0
quinto       58.0
sexto        60.0
séptimo      62.0
undécimo    700.0
dtype: float64

In [55]:

# Crear una Serie con un valor NaN
serie = pd.Series([10, np.nan, 30])

# Sumar 5 a la Serie
resultado = serie + 5
print(resultado)

0    15.0
1     NaN
2    35.0
dtype: float64

In [56]:
# Comparar NaN con NaN
print(np.nan == np.nan)  # Output: False

False

In [57]:
# Detectar NaN en una Serie
print(serie.isna())

0    False
1     True
2    False
dtype: bool

In [59]:
# Reemplazar NaN con un valor específico
serie_limpia = serie.fillna(3)
print(serie_limpia)

0    10.0
1     3.0
2    30.0
dtype: float64

In [60]:
# Crear un valor NaN
valor_nan = np.nan

# Operar con NaN
resultado = 2 * valor_nan
print(resultado)

nan

In [61]:
print(type(valor_nan))

<class 'float'>

In [62]:
# Calcular el producto de una lista con NaN
resultado = np.nanprod([2, valor_nan])
print(resultado)

2.0

In [63]:
# Definir las series originales con índices
Numeros_serie_2 = pd.Series([50, 52, 54, 56, 58, 60, 62, 64, 66, 68],
                            index=['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo'])
Numeros_serie_3 = pd.Series([51, 53, 55, 57, 59, 61, 63, 65, 67, 69],
                            index=['segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo', 'undécimo'])

# Crear un conjunto de prueba con NaN
Numeros_nan = Numeros_serie_2 + Numeros_serie_3
print(Numeros_nan)

cuarto      111.0
décimo      135.0
noveno      131.0
octavo      127.0
primero       NaN
quinto      115.0
segundo     103.0
sexto       119.0
séptimo     123.0
tercero     107.0
undécimo      NaN
dtype: float64

In [64]:
Numeros_nan_relleno = Numeros_nan.fillna(0)
print(Numeros_nan_relleno)

cuarto      111.0
décimo      135.0
noveno      131.0
octavo      127.0
primero       0.0
quinto      115.0
segundo     103.0
sexto       119.0
séptimo     123.0
tercero     107.0
undécimo      0.0
dtype: float64

In [65]:
Numeros_nan_sin_na = Numeros_nan.dropna()
print(Numeros_nan_sin_na)

cuarto     111.0
décimo     135.0
noveno     131.0
octavo     127.0
quinto     115.0
segundo    103.0
sexto      119.0
séptimo    123.0
tercero    107.0
dtype: float64

In [66]:
Numeros_nan_interpolado = Numeros_nan.interpolate()
print(Numeros_nan_interpolado)

cuarto      111.0
décimo      135.0
noveno      131.0
octavo      127.0
primero     121.0
quinto      115.0
segundo     103.0
sexto       119.0
séptimo     123.0
tercero     107.0
undécimo    107.0
dtype: float64

In [67]:
# Definir una Serie con valores ausentes
Numeros_nan = pd.Series([50, 52, np.nan, 56, np.nan, 60, 62, np.nan, 66, 68],
                        index=['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo'])

# Identificar valores ausentes
print(Numeros_nan.isnull())

primero    False
segundo    False
tercero     True
cuarto     False
quinto      True
sexto      False
séptimo    False
octavo      True
noveno     False
décimo     False
dtype: bool